body{
  background-color: black;
  text-align: center;
  margin-top: 12%;
}
p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  align-items: center;
}
.yaho{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
